[type="date"] {
    background: #fff url(../img/calendar.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date-control-container input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 4px 10px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 25px;
    font-size: 15px;
}
